body{
    background-color: lightgray;
}


.CardSpan{
    position: relative;
    left: -250px;
}

.Position{
    position: relative;
    left: 42vw;
    top: 90px;
}

.imagePos{
    position: relative;
    left: 60px;
    top: 80px;
}

.title{
    color: black;
    text-align: center;
}

.button{
    position: fixed;
    right: 100px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}

.button:hover{
    animation: Buttonanimation 0.6s ease-in-out forwards;
    font: bold;
}

@keyframes Buttonanimation {
    0%{
        transform: scale(1);
        background: conic-gradient(rgb(0, 119, 255), rgb(0, 225, 255), rgb(0, 38, 255));
        opacity: 0.2;
    }
    100%{
        scale: 1.3;
        opacity: 1;
        background: conic-gradient(rgb(0, 119, 255), rgb(0, 225, 255), rgb(0, 38, 255));
        color: black;
        border-color: rgb(17, 0, 255);
        box-shadow: 0px 0px 15px rgb(17, 0, 255);
        font-size: 1.2;
    }
}