body{
    background-color: black;
    background-image: url(immagini/spazio-profondo2.jpg);
}

p{
    color: white;
    background: transparent;
    
    font-size: 20px;
    text-align: left;
}
h2{
    color: rgb(57, 232, 255);
    background: transparent;
    font-size: 25px;
    text-align: left; 
}

.white{
    color: white;
}

.postitolo{
    position: relative;
    top: -50px;
    align-items: center;
}


.Titolo{
    font-family: "Poppins", "sans-serif";
    font-size: 35px;
    text-transform:uppercase;
    text-align: center;
    background:linear-gradient(to right,
    orange, yellow, red,rgb(231, 199, 41), orange, yellow, red);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animazionetitolo 7s linear infinite;
}

@keyframes animazionetitolo{
    from{
        background-position: 0% 0%;
    }
    to {
        background-position: 200% 200%;
    }
}

.SupportButton{
    background: transparent;
    border-color: whitesmoke;
    color: whitesmoke;
    border-radius: 25px;
    padding: 2px;   
}


.SupportButton:hover{
    background-color: yellow;
    color: black;

}


.PosSaturn{
    position: absolute;
    left: 1000px;
    
}


.divButton{
    position: relative;
    margin-top: 20px;
    left: 1120px;
    width: 100px;
    height: 80px;
    
}



.PosSole{
    position: absolute;
    left: -200px;
    height: 320px;
    width: 100px;
    border-radius: 50px;
}


.StartButtonDiv{
    position: absolute;
    left: 535px;
    bottom: 10px;
    width: 150px;
    height: 30px;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 25px;
}


.StartButton{
    background-color: transparent;
    color: white;
    height: 30px;
    width: 150px;
    border-radius: 25px;
    border: 5px solid transparent;
}



.StartButton:hover{
    scale: 1.15;
    color: wheat;
    font-family: "Yellowtail", cursive;
    font-weight: 600;
    font-style: normal;
}
.StartButtonDiv:hover{
    background:linear-gradient(to right,
    #f542b3, #7311f2, #0ae7f2,#0ae7f2,#7311f2, #f542b3);
    animation: animazioneDiv 7s linear infinite;
    
    border-color: blue;
}

@keyframes animazioneDiv{
    from{
        background-size: 0% 0%;
    }
    to {
        background-size: 200% 200%;
    }
}