body{
    background-color: black;
    background-image: url(immagini/spazio-profondo2.jpg);
}



.Semititolo{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    color: violet;
    width: 200px;
    height: 50px;
    border: 3px solid #7311f2;
    animation: animazioneSemititolo 2s ease-in  infinite;
}


@keyframes animazioneSemititolo{
    0%{
        opacity: 1;
        scale: 1.1;
        border: 3px dotted gray;
        color: #f542b3;
    }

    33%{
         scale: 0.9;
         border: 3px dotted gray;
         color: #f542b3;
    }
    66%{
        scale: 1;
        border: 3px dotted gray;
        color: #0ae7f2;
    }
    100%{
        scale: 1.1;
        border: 3px dotted gray;
        color: #0ae7f2;
        
    }
}







.divintroduzione{

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    width: 95%;
    height: 600px;
    flex-wrap: wrap;
    gap: 20px;
    border: 2px solid transparent;
    background-color: transparent;
}

.elementoIntro{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: larger;
    background-color: transparent;
    width: 270px;
    height: 270px;
    border: 3px dotted white;
    opacity: 0.3;
}





.elementoIntro:hover{
    animation: animazioneElementoIntro 0.7s ease-in-out forwards;
}





@keyframes animazioneElementoIntro{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.8);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
        box-shadow: 0px 0px 60px red;
        border: 5px solid orangered;
        
    }
}


.postitolo{
    position: relative;
    top: 10px;
    align-items: center;
}


.Titolo{
    font-family: "Poppins", "sans-serif";
    font-size: 35px;
    text-transform:uppercase;
    text-align: center;
    background:linear-gradient(to right,
    orange, yellow, red,rgb(231, 199, 41), orange, yellow, red);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animazionetitolo 7s ease-in-out infinite;
}

@keyframes animazionetitolo{
    from{
        background-position: 0% 0%;
        
    }
    to {
        background-position: 200% 200%;
        
    }
}

.SupportButton{
    background: transparent;
    border-color: whitesmoke;
    color: whitesmoke;
    border-radius: 25px;
    padding: 2px;   
}


.SupportButton:hover{
    background-color: yellow;
    color: black;

}


.PosSaturn{
    position: absolute;
    left: 1000px;
    
}


.divButton{
    position: absolute;
    margin-top: 20px;
    left: 1120px;
    width: 100px;
    height: 80px;
    
}



.PosSole{
    position: absolute;
    left: -200px;
    height: 320px;
    width: 100px;
    border-radius: 50px;
}


.StartButtonDiv{
    position: absolute;
    left: 535px;
    bottom: 10px;
    width: 150px;
    height: 30px;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 25px;
}


.StartButton{
    background-color: transparent;
    color: white;
    height: 30px;
    width: 150px;
    border-radius: 25px;
    border: 5px solid transparent;
}



.StartButton:hover{
    scale: 1.2;
    color: wheat;
    font-family: "Yellowtail", cursive;
    font-weight: 600;
    font-style: normal;
}
.StartButtonDiv:hover{
    background:linear-gradient(to right,
    #f542b3, #7311f2, #0ae7f2,#0ae7f2,#7311f2, #f542b3);
    animation: animazioneDiv 3s linear forwards;
    
    border-color: blue;
}

@keyframes animazioneDiv{
    from{
        background-size: 0% 0%;
    }
    to {
        background-size: 200% 200%;
        scale: 1.2;
    }
}




