body{
    background-color: transparent;
    background-image: url(immagini/SfondoNero.jpg);
    width: auto;
    
}

.container-esterno {
    width: 100%;
    height: 100vh;
    position: relative;
    background: transparent;
    border: 3px solid white;
}

.paragrafo{
    position: absolute;
    padding-left: 10px;
    top: 35%;
    left: 100px;
    text-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2;
    width: 260px;
    height: 330px;
    border: 1px dashed white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 0.8s ease-in-out;
    animation-fill-mode: forwards;
    border-radius: 25px;
    color: white;
}


.divTitolo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    height: 50px;
    width: 100%;
    border:3px solid white ;
    color: white;
    border-right: none;
    border-left: none;
}

.divImmagine{
    position: absolute;
    top: 35%;
    right: 100px;
    transform: translate(0% 50%);
    width: 300px;
    height: 300px;
    border: 2px solid transparent;
    
}



.luna1{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 60px;
    height: 60px;
    border: 2px solid white;
}

.luna2{
    position: absolute;
    top: 70%;
    left: 50%;
    
    width: 60px;
    height: 60px;
    border: 2px solid white;
}
    


@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.8);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
        box-shadow: 0px 0px 50px white;
    }
}




.divImmagine::after, .divImmagine::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
    left: 50%;
    translate: -50%;
    z-index: -1;
    background-image: conic-gradient(red, blue);
   
}




.divImmagine::before{
    filter: blur(1.5rem);
    
}

.divImmagine:hover::after{
    animation: spin 3s linear infinite;
}

.divImmagine:hover::before{
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}