body{
    background-color:wheat;
    
}


.Titolo{
    font-family: "Poppins", "sans-serif";
    font-size: 50px;
    text-transform:uppercase;
    text-align: center;
    background:linear-gradient(to right,
    #f542b3, #7311f2, #0ae7f2,#0ae7f2,#7311f2, #f542b3);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animazionetitolo 4s linear infinite;
}

@keyframes animazionetitolo{
    from{
        background-position: 0% 0%;
    }
    to {
        background-position: 200% 200%;
    }
}

.bottone{
    background: wheat;
    color: black;
    position: relative;
    margin-top:-80px;
    left: 1800px;
    border-radius: 25px;
   
}



.Cipolle{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: auto;
    left: 50%;
    animation: animation 3s;
    translate: -50% -50%;
    
    width: 100px;
    height: 100px;
    
}


@keyframes animation{
    0% {
        scale: 1;
        background-color: transparent;
        color: transparent;
        border-color: black;
    }
    50%{
        scale: 1.2;
        border-radius: 50px;
        background-color:transparent;
        color: black;
        border-color: black;
    }
    100%{
        transform: rotate(360deg);
        
        
        border-color: black;
    }
}